

.date {
    color: #869D38;
}

table.museum-details > tr  > th {
    font-weight: bold;
}

.museum-text {
    float: left;
    width: 50%;
  }

  .museum-table {
    float: left;
    width: 50%;
    min-width: 300px;
    max-width: 400px;;
  }
  
  /* Clear floats after the columns */
  div.museum-details:after {
    content: "";
    display: table;
    clear: both;
  }

  @font-face {
    font-family: 'Aller';
    src: url('/fonts/Aller.woff') 
         format('woff')
   }
  .system-serif {
    font-family: aller;
  }

  body {
    font-family: 'Aller', sans-serif !important;
  }